<h1>Dashboard#admin</h1>
<p>Find me in app/views/dashboard/admin.html.erb</p>
<% @cities.each do |city| %>
    <%= link_to city.city, city_years_path(city) %>
<% end %>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path) %>        
  </li>
<% end %>