<h1>Dashboard#user</h1>
<p>Find me in app/views/dashboard/user.html.erb</p>

<% @years.each do |year| %>
    <table>
    <thead>
        <tr>
        <th>Tahun</th> 
            <td><%= year.year %>
        <th>Action plan</th>
            <td><%= year.action_plans.count %></td>
            <td><%= link_to 'Lihat', year_action_plans_path(year) %></td>
        <th colspan="3"></th>
        </tr>
    </thead>
    </table>

<% end %>