<%= form_with(model: dashboard_city, local: true) do |form| %>
  <% if dashboard_city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dashboard_city.errors.count, "error") %> prohibited this dashboard_city from being saved:</h2>

      <ul>
      <% dashboard_city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
