.bg-primary {
    background-color: #9D1C2D !important;
}

.btn-neutral {
    color: #9D1C2D !important;
}

a {
  color: #9D1C2D;
}
/* line 13, /sipks/vendor/assets/stylesheets/argon/bootstrap/mixins/_hover.scss */
a:hover {
  color: #D6263D;
}

.text-primary {
    color: #9D1C2D !important;
}

.btn-primary {
    background-color: #9D1C2D;
    border-color: #9D1C2D;
}

.btn-primary:hover {
    background-color: #9D1C2D;
    border-color: #9D1C2D;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #D6263D;
  border-color: #9D1C2D;
}

.focused .form-control {
  border-color: #9D1C2D !important;
}

.custom-file-input {
  opacity: 0 !important;
  width: 100% !important;
  margin: 8px !important;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Pilih";
}

.custom-file-label{
  font-size: 0.875rem;
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: #9D1C2D !important;
  box-shadow: 0 3px 9px rgba(50, 50, 9, 0), 3px 4px 8px rgba(94, 114, 228, 0.1);
}

.sign-in-logo{
  height: 150px;
  weight: 150px;
}

.table-primary, .table-primary>td, .table-primary>th{
    background-color: #EDD5D8;
}

.custom-toggle input:checked + .custom-toggle-slider:after{
  color: #9D1C2D !important;
}

.custom-toggle input:checked + .custom-toggle-slider {
  border: 1px solid #9D1C2D !important;
}

.custom-toggle input:checked + .custom-toggle-slider:before {
  background: #9D1C2D !important;
}

.custom-toggle input:checked + .custom-toggle-slider:after {
  color: #9D1C2D !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #9D1C2D;
  background-color: #9D1C2D;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #9D1C2D;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #9D1C2D;
  border-color: #9D1C2D;
}

.footer-login{
  position: fixed;
  max-height: 100vh;
  bottom: 0;
  width: 100%;
}

.bg-login{
  background-color: #EEF0F3;
}
