<% content_for :header do %>
<!-- Header -->
<div class="header bg-primary">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <%= yield :breadcrumb %>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <%= yield :header_button %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
